
@media (max-width: 1500px){

    .main-section{
        border: 5px solid orange;

        --sec-min-height: 50dvw;
        --sec-heading-font-size: 2.1dvw;
        --sec-description-font-size: 1.05dvw;
    }

}

@media (max-width: 1100px){

    .main-section{
        border: 5px solid blue;

        --sec-min-height: auto;
        --sec-padding-block: 8dvw;
        --sec-padding-inline: 3dvw;
        --sec-heading-font-size: 3.5dvw;
        --sec-description-font-size: 1.8dvw;
    }

}

@media (max-width: 800px){

    .main-section{
        border: 5px solid red;
    }

}

@media (max-width: 500px){

    .main-section{
        border: 5px solid green;

        --sec-padding-block: 12dvw;
        --sec-padding-inline: 8dvw;
        --sec-heading-font-size: 6.5dvw;
        --sec-description-font-size: 3.5dvw;
    }

}