.main-section{
    width: 100%;
    padding-block: var(--sec-padding-block);
    padding-inline: var(--sec-padding-inline);
}

.important{
    &::after{
        content: " *";
        color: red;
        font-size: 1em;
    }
}
