:root{
    --scheme-clr: hsl(224, 86%, 14%);
    --scheme-clr-hover: hsl(224, 86%, 24%);

    --sec-min-height: 50cqh;
    
    --sec-padding-block: 8cqh;
    --sec-padding-inline: 5cqw;

    --sec-heading-clr: #164BAF;
    --sec-description-clr: #0F2A44;
    --sec-description-strong-clr: #1274A4;

    --sec-heading-font-size: 2rem;
    --sec-description-font-size: 1rem;

    --sec-heading-line-height: 2.2ch;
    --sec-description-line-height: 2.5ch;
    
    --sec-heading-row-gap: 1ch;

    --media-border-raduis: 2cqw;
}