:root{
    --scheme-clr: hsl(224, 86%, 14%);
    --scheme-clr-hover: hsl(224, 86%, 24%);

    --sec-min-height: 50cqh;
    
    --sec-padding-block: 8cqh;
    --sec-padding-inline: 5cqw;

    --heading-clr: #164BAF;
    --description-clr: #0F2A44;
    --description-strong-clr: #1274A4;

    --media-border-raduis: 2cqw;
}