@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.video-container{
  container: video-container / inline-size;
  width: 100%;
  min-width: 250px;
  background-color: var(--vid-sec-bg-clr);

  & *{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: "Inter", sans-serif;
  }
}

.video-section{
  width: 100%;
  height: var(--vid-sec-height);
  display: flex;
  flex-direction: var(--vid-sec-flex-direction);
  row-gap: var(--vid-sec-flex-row-gap);
  padding-block: var(--vid-sec-padding-block);
  padding-inline: var(--vid-sec-padding-inline);

  & > *{
    flex: 1 1 var(--vid-sec-flex-basis);
  }

  .left{
    /* background-color: lightgreen; */

    display: flex;
    align-items: center;
    
    figure{
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      transition: transform 0.1s ease-in;

      &:hover{
        transform: scale(1.01);
      }
      
      video{
        width: var(--vid-sec-video-width);
        height: inherit;
        justify-self: center;
        border-radius: var(--vid-sec-border-raduis);
      }

      figcaption{
        display: none;
      }
    }
  }

  .right{
    /* background-color: lightpink; */

    padding-inline-start: var(--vid-sec-padding-inline-start);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    order: var(--vid-sec-right-order);
    row-gap: var(--vid-sec-right-gap);

    h2{
      width: var(--vid-sec-h2-width);
      color: var(--vid-sec-heading);
      line-height: var(--vid-sec-h2-line-height);
      font-size: var(--vid-sec-h2-font-size);
    }
    
    p{
      width: var(--vid-sec-p-width);
      color: var(--vid-sec-description);
      line-height: var(--vid-sec-p-line-height);
      font-size: var(--vid-sec-p-font-size);
      
      strong{
        color: var(--vid-sec-description-strong);
      }
    }

  }
}

