:root{
    --vid-sec-flex-row-gap: 0px;
    --vid-sec-flex-direction: row;
    --vid-sec-flex-basis: 50%;

    --vid-sec-height: 80cqh;

    --vid-sec-bg-clr: hsl(0, 0%, 97%);
    --vid-sec-light-blue-bg-clr: lightBlue;

    --vid-sec-heading-width: auto;
    --vid-sec-description-width: 69ch;

    --vid-sec-right-order: 0;
    --vid-sec-padding-inline-start: var(--sec-padding-inline);
    --vid-sec-video-width: 100%;
}