
@media (max-width: 1000px){

    .video-section{
        --vid-sec-right-order: -1;
        --vid-sec-flex-direction: column;
        --vid-sec-flex-row-gap: 5cqw;
        --vid-sec-border-raduis: 80cqw;
        --vid-sec-video-width: 90%;

        .right{
            .heading-container{
                .section-heading{
                    width: var(--vid-sec-heading-width);
                }

                .section-description{
                    width: var(--vid-sec-description-width);
                }
            }
        }
    }

}

@media (max-width: 600px){

    .video-section{
        --vid-sec-flex-row-gap: 8cqw;
        --vid-sec-heading-width: 16ch;
        --vid-sec-description-width: 35ch;
        --vid-sec-video-width: 100cqw;
    }

}