
@media (max-width: 1100px){

    .video-section{
        --vid-sec-flex-row-gap: 5cqw;
        --vid-sec-flex-direction: column;
        --vid-sec-border-raduis: 4dvw;
        --vid-sec-video-width: 90%;
        --vid-sec-right-order: -1;
        --vid-sec-padding-inline-start: 0px;
    }

}

@media (max-width: 500px){

    .video-section{
        --vid-sec-flex-row-gap: 8cqw;
        --vid-sec-heading-width: 16ch;
        --vid-sec-description-width: 30ch;
        --vid-sec-video-width: 80dvw;
    }

}