.video-container{
  container: video-container / inline-size;
  background-color: var(--vid-sec-bg-clr);
  display: flex;
}

.video-section{
  width: 100%;
  display: flex;
  flex-direction: var(--vid-sec-flex-direction);
  row-gap: var(--vid-sec-flex-row-gap);

  & > *{
    flex: 1 1 var(--vid-sec-flex-basis);
  }

  .left{
    /* background-color: lightgreen; */

    display: flex;
    align-items: center;
    
    figure{
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      transition: transform 0.1s ease-in;

      &:hover{
        transform: scale(1.01);
      }
      
      video{
        width: var(--vid-sec-video-width);
        height: inherit;
        justify-self: center;
        border-radius: var(--vid-sec-border-raduis);
      }

      figcaption{
        display: none;
      }
    }
  }

  .right{
    /* background-color: lightpink; */

    /* padding-inline-start: var(--vid-sec-padding-inline-start); */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    order: var(--vid-sec-right-order);
    row-gap: var(--vid-sec-right-gap);

    h2{
      width: var(--vid-sec-heading-width);
    }
    
    p{
      width: var(--vid-sec-description-width);
    }
  }
}

