:root{
    --form-sec-bg-clr: hsl(0, 0%, 95%);

    --form-row-gap: 6cqh; 
    --form-button-align-self: self-start; 
    
    --form-grid-row-gap: 2rem;
    --form-grid-col-gap: 1.3rem;
    --form-grid-columns: 2;
    
    --form-group-row-gap: 0.8rem;

    --form-success-row-gap: 1rem;

    --form-label-font-size: 1rem;
    --form-error-font-size: 0.9rem;

    --form-input-height: 7ch;
    --form-input-border-line: lightgray;
    --form-textarea-height: 7ch;
}