.form-section{
    display: flex;
    flex-direction: column;
    row-gap: var(--form-row-gap);
    background-color: var(--form-sec-bg-clr);

    .section-heading{
        width: var(--form-sec-heading-width);
    }

    .section-description{
        width: var(--form-sec-description-width);
    }

    form{
        display: flex;
        flex-direction: column;
        row-gap: var(--form-row-gap);
        
        .form-grid{
            display: grid;
            grid-template-columns: repeat(var(--form-grid-columns), 1fr);
            row-gap: var(--form-grid-row-gap);
            column-gap: var(--form-grid-col-gap);
        }

        .form-group{
            display: flex;
            flex-direction: column;
            row-gap: var(--form-group-row-gap);

            *{
                font-size: var(--font-label-size);
            }
            
            input{
                height: var(--form-input-height);
            }

            textarea{
                height: var(--form-textarea-height);
                padding-block: 0.8em;
            }

            input, textarea{
                padding-inline: 1.5em;
                border-radius: 0.6em;
                border: 0.2em solid var(--form-input-border-line);
            }

            .max-char{
                color: grey;
            }
        }

        button{
            align-self: var(--form-button-align-self);

            span{
                margin-inline-start: 1em;
            }
        }
    }
}