:root{
    --planet-card-bg-clr: black;
    --planet-card-info-bg-clr: white;

    --planet-card-block-spacing: 1.5cqh;
    --planet-card-inline-spacing: 2cqw;

    --planet-card-border-radius: 8cqw;

    --planet-card-trans-duration: 0.1s;
    --planet-card-trans-motion: ease-in-out;

    --planet-card-aspect-ratio: 1/0.9;

    --planet-card-image-height: 70cqh;
    --planet-card-image-border-radius: 0px;
    
    --planet-card-info-width: 100cqw;
    --planet-card-info-height: 30cqh;

    --planet-card-info-tag-font-size: 2cqw;
    --planet-card-info-tag-gap: 0.5em;

    --planet-card-info-name-font-size: 4.5cqw;
    --planet-card-info-distance-font-size: 3.5cqw;

    --planet-card-info-translateY: -45cqh;
}

.planet-card{
    background-color: transparent;
    aspect-ratio: var(--planet-card-aspect-ratio);
    container: planet-card-container / size;
    overflow: hidden;
    
    &:hover{
        --planet-card-image-height: 100cqh;
        --planet-card-image-border-radius: var(--planet-card-border-radius);

        --planet-card-info-width: 90cqw;
        --planet-card-info-height: 40cqh;

        --planet-card-info-tag-font-size: 3cqw;
        --planet-card-info-name-font-size: 7cqw;
        --planet-card-info-distance-font-size: 6cqw;
        
        .planet-figure .planet-info{
            transform: translateY(var(--planet-card-info-translateY));
            background-color: #f2f7ff;
        }

    }
    
    .planet-figure{
        border-radius: var(--planet-card-border-radius);
        overflow: hidden;
        
        .planet-image-container{
            background-color: var(--planet-card-bg-clr);
            width: 100cqw;
            height: var(--planet-card-image-height);
            border-radius: var(--planet-card-image-border-radius);

            transition: all 
                var(--planet-card-trans-duration) 
                var(--planet-card-trans-motion);
            
            .planet-image{
                width: 100%;
                height: 100%;
                object-fit: contain;
                border-radius: var(--planet-card-border-radius);
            }
        }
        
        .planet-info{
            background-color: var(--planet-card-info-bg-clr);
            border-radius: var(--planet-card-image-border-radius);
            width: var(--planet-card-info-width);
            height: var(--planet-card-info-height);
            display: flex;
            flex-direction: column;
            padding-block: var(--planet-card-block-spacing);
            padding-inline: var(--planet-card-inline-spacing);
            row-gap: var(--planet-card-block-spacing);
            justify-content: space-evenly;
            align-items: center;
            margin-inline: auto;
            transition: all 
                var(--planet-card-trans-duration) 
                var(--planet-card-trans-motion);

            .planet-info-group{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            .planet-info-tag{
                font-size: var(--planet-card-info-tag-font-size);
                color: var(--description-clr);
                padding-block-end: 0.3cqw;
                font-weight: bold;
            }

            .planet-name{
                font-size: var(--planet-card-info-name-font-size);
                color: var(--heading-clr);
            }
            
            .planet-distance{
                font-size: var(--planet-card-info-distance-font-size);
                color: var(--heading-clr);
            }

        }

    }

}